@import '../../styles/index.scss';

.linkMobile {
  color: $white;
  font-family: $messina-sans-mono;
  font-weight: $font-weight-600;
  font-size: 24px;
  line-height: 29px;
}

.linkTable {
  @extend %flex-centered;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 8px;

  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-color: transparent;

  font-family: $messina-sans-mono;
  font-size: 12px;
  font-weight: $font-weight-600;
  line-height: calc(14 / 12);

  transition: color $transition-duration;

  @media screen and (min-width: $tablet) {
    border-radius: 12px;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 80px;
    height: 80px;
    font-size: 16px;
    line-height: 19px;
  }
}
