@import '../../styles/index.scss';

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  display: flex;
  z-index: 10000;
  height: 100%;
  width: 100%;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  width: calc(100% - 16px);
  max-width: 464px;
  height: 100%;
  padding: 54px 8px 0 8px;
}

.logo {
  width: 48px;
  height: 32px;
  fill: $white;
  margin-top: 8px;
}

.headWrapper {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.navigarionWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 186px;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuContent {
  @media screen and (max-width: ($tablet - 0.1)) {
    display: none;
  }

  position: absolute;
  top: 12px;
  right: 60px;
  z-index: 100000;
  overflow: hidden;

  border-radius: 12px 0px 0px 12px;

  @media screen and (min-width: $desktop) {
    top: 25px;
    right: 105px;
  }
}

.menuItems {
  display: flex;
}
