@import '../../styles/index.scss';

.btnWrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 33px;
  padding-right: 33px;
  width: 216px;
  margin-top: 24px;
  @extend %margin-auto;

  @media screen and (min-width: $desktop) {
    margin-top: 48px;
  }
}
