@import '../../styles/index.scss';

.breakTablet {
  @media screen and (max-width: ($tablet - 0.1)) {
    display: none;
  }
}

.breakMobile {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.container {
  @extend %containerSection;
  @include media(margin-top, 60px, 91px, 120px);

  @media screen and (min-width: $tablet) {
    position: relative;
    height: 547px;
  }

  @media screen and (min-width: $desktop) {
    height: 884px;
  }
}

.title {
  color: $white;
  font-family: $right-grotesk;
  font-size: 40px;
  font-weight: $font-weight-900;
  text-transform: uppercase;

  @include media(font-size, 40px, 60px, 120px);
  @include media(line-height, calc(40 / 40), calc(60 / 60), calc(120 / 120));

  @media screen and (min-width: $tablet) {
    width: 269px;

    position: absolute;
    top: 0;
    left: 72px;
  }

  @media screen and (min-width: $desktop) {
    width: 538px;
    left: 0;
  }
}

.description1 {
  color: $white;
  text-align: right;
  font-family: $messina-sans-mono;
  text-transform: uppercase;

  @include media(margin-top, 16px, 11px, 24px);

  @include media(font-size, 16px, 16px, 24px);
  @include media(line-height, calc(19 / 16), calc(19 / 16), calc(29 / 24));

  @media screen and (min-width: $tablet) {
    width: 313px;

    position: absolute;
    top: 0;
    right: 72px;
  }

  @media screen and (min-width: $desktop) {
    width: 409px;
    right: 0;
  }
}

.descriptionWrapper {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(width, _, 269px, 417px);
  @include media(gap, 16px, 24px, 24px);

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 340px;
    left: 55px;
  }

  @media screen and (min-width: $desktop) {
    top: 630px;
    left: 60px;
  }
}

.description2 {
  color: $white;
  text-align: center;
  font-family: $messina-sans-mono;
  font-weight: $font-weight-400;
  text-transform: uppercase;

  @include media(width, 216px, 269px, 417px);
  @include media(font-size, 12px, 16px, 24px);
  @include media(line-height, calc(14 / 12), calc(19 / 16), calc(29 / 24));
}

.imageWrapper {
  display: flex;
  @extend %margin-auto;
  width: 216px;
  height: 292px;

  margin-top: 40px;

  @media screen and (min-width: $tablet) {
    width: 313px;
    height: 422px;

    position: absolute;
    top: 85px;
    right: 72px;
  }

  @media screen and (min-width: $desktop) {
    width: 492px;
    height: 662px;
    top: 182px;
    right: 0px;
  }
}

.image {
  width: 100%;
  height: auto;
}

.titleSpan {
  color: $red-bgr;
}
