%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%margin-auto {
  margin-left: auto;
  margin-right: auto;
}

%containerSection {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: ($tablet - 0.1)) {
    width: 100%;
    max-width: 464px;
    padding-left: 64px;
    padding-right: 64px;
  }

  @media screen and (min-width: $tablet) {
    width: 736px;
    padding-left: 72px;
    padding-right: 72px;
  }

  @media screen and (min-width: $desktop) {
    width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

%none {
  display: none;
}
