@import '../../styles/index.scss';

.header {
  @media screen and (min-width: $mobile) {
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 10000;

    display: flex;
    justify-content: space-between;
    width: calc(100% - 16px);
    max-width: 464px;
    padding: 8px;
    border-radius: 12px;
  }

  @media screen and (min-width: $tablet) {
    left: 16px;
    max-width: 736px;
    padding: 12px;
    border-radius: 16px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1248px;
    padding: 12px;
    border-radius: 24px;
    padding: 24px;
  }
}

.linkLogo {
  display: block;
  width: 48px;
  height: 32px;

  @media screen and (min-width: $tablet) {
    width: 48px;
    height: 32px;
  }
  @media screen and (min-width: $desktop) {
    width: 72px;
    height: 50px;
  }
}

.logo {
  width: 48px;
  height: 32px;
  fill: $black;
  transition: fill $transition-duration;

  .linkLogo:hover &,
  .linkLogo:focus & {
    fill: $white;
  }
  @media screen and (min-width: $tablet) {
    width: 48px;
    height: 32px;
  }
  @media screen and (min-width: $desktop) {
    width: 72px;
    height: 50px;
  }

  @include media(margin-top, 8px, 8px, 15px);
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
