@import '../../styles/index.scss';

.container {
  @extend %containerSection;
  @extend %flex-centered;

  @include media(margin-top, 60px, 80px, 120px);
  @include media(margin-bottom, 24px, 40px, 40px);
  flex-direction: column;
}

.description {
  color: $white;
  text-align: center;
  font-family: $messina-sans-mono;
  font-weight: 400;
  text-transform: uppercase;

  @include media(font-size, 12px, 12px, 16px);
  @include media(line-height, calc(14 / 12), calc(14 / 12), calc(19 / 16));
}

.hiden {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
