@import '../../styles/index.scss';

.container {
  @extend %containerSection;
  @extend %flex-centered;
  flex-direction: column;

  @include media(margin-top, 60px, 80px, 120px);
}

.iconCross {
  width: 36px;
  height: 36px;

  @include media(margin-bottom, 16px, 24px, 40px);
}

.description {
  color: $white;

  text-align: center;
  font-family: $messina-sans-mono;
  font-weight: 400;

  text-transform: uppercase;

  @include media(width, 216px, 397px, 581px);
  @include media(font-size, 16px, 16px, 24px);
  @include media(line-height, calc(19 / 16), calc(19 / 16), calc(29 / 24));
}
