@import '../../styles/index.scss';

.title {
  color: $white;
  font-family: $right-grotesk;
  font-size: 44px;
  font-weight: $font-weight-900;
  line-height: calc(40 / 40);
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 24px;
}
