@font-face {
  font-family: 'Right Grotesk Compact Black';
  src: url('RightGrotesk-CompactBlack.otf') format('opentype');
}

@font-face {
  font-family: 'Right Grotesk Medium';
  src: url('RightGrotesk-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Right Grotesk Narrow Light';
  src: url('RightGrotesk-NarrowLight.otf') format('opentype');
}

@font-face {
  font-family: 'right grotesk spatialblack';
  src: url('rightgrotesk-spatialblack.otf') format('opentype');
}

@font-face {
  font-family: 'Right Grotesk Tight Medium';
  src: url('RightGrotesk-TightMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Right Grotesk Wide Medium';
  src: url('RightGrotesk-WideMedium.otf') format('opentype');
}
