@import '../../styles/index.scss';

.heroContainer {
  @media screen and (min-width: $mobile) {
    width: 100%;
    max-width: 464px;
    /* height: 542px; */
    margin-top: 64px;

    padding-top: 36px;
    padding-bottom: 19px;

    background-color: $red-bgr;
    border-radius: 12px;
  }
}

.container {
  @extend %containerSection;
  /* outline: white 1px solid; */
  height: 100%;
}

.mainTitle {
  color: $black;
  font-family: $right-grotesk;
  font-size: 44px;
  font-weight: $font-weight-900;
  line-height: calc(44 / 44);
  letter-spacing: 0.44px;
  text-align: center;

  margin-bottom: 8px;
}

.subTitle {
  color: $black;
  font-family: $biro-script-plus;
  font-size: 16px;
  line-height: calc(27 / 16);
  text-align: center;
}

.imageWrapper {
  /* width: 216px;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto; */
  /* height: 284px; */
  /* height: 100%; */
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.link {
  display: flex;
  padding: 10px 70px 12px 70px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background: rgba(30, 30, 30, 0.1);

  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);

  color: $black;
  font-family: $right-grotesk;
  font-size: 16px;

  font-weight: $font-weight-900;
  line-height: calc(19 / 16);

  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
  }
}

.description {
  color: $black;
  text-align: center;
  font-family: $messina-sans-mono;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  text-transform: uppercase;
  width: 217px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
